<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zucc.hpy31501365gbl31501364">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".logon">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".sign_up" />
        <activity android:name=".AddEventActivity" />
        <activity android:name=".EditEventActivity" />
        <activity android:name=".SelectEventActivity" />
        <activity android:name=".EditClockActivity" />
        <activity android:name=".AddClockActivity" />

        <receiver
            android:name=".MyReceiver"
            android:process=":remote" />

        <activity android:name=".AddAccountActivity"></activity>
        <activity android:name=".AccountGraphActivity"></activity>
    </application>

</manifest>